body {
    display: flex;
    font-family: 'Roboto Slab', serif;
    background: url("../images/arch-cover.jpg");
}

aside {
  flex: 3;
  margin-top: 50px;
  text-align: right;
  font-weight: 200px;
  font-size: 50px;
  margin-right: 20px;
  margin-top: 22vh;
  
  
}

.container {

  flex: 5;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-right: 50px;
}

header {
    padding-top: 100px;
    box-sizing: border-box;
    font-weight: 800;
    font-size: 30px;
    align-self: flex-start;  
  }

main {
    dispay: flex;
    justify-content: flex-end; 
  }

nav ul {
  padding-top: 20px;
}

nav ul li {
  display: inline;
  padding-right: 30px;
  padding-left: 4px;
  font-weight: 200;
}

.about-intro{
    font-size: 20px;
    font-weight: 400;
    padding-top: 50px;
    line-height: 25px;
}

h3{
  margin: 30px;
  padding-top: 30px;
}

.recent-work{
    background: rgba(29, 188, 194, 0.2);
    font-weight: 700;
    font-size: 20px;
}

.work-boxes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; 
   }

.GA-press-release{
    position: relative;
}

.lab-timeline{
    position: relative;
}

.JSP{
    position: relative;
}

.relaxr{
    position: relative;
}

.DRH{
    position: relative;
}

.limon{
    position: relative;
}

.wild{
    position: relative;
}

img {
    height: 300px;
    margin: 30px;   
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(51, 234, 240, 0.9);
}

.overlay:hover {
    opacity: 1;
}

.text{
    color: black;
    font-size: 30px;
    transform: translate (-50%, -50%);
    text-align: center;
    margin-top: 30%;
    font-weight: 300;
    padding-left: 20px;
    padding-right: 20px;

}